@model CMSNews.Models.ViewModels.NewsGroupViewModel

@{
    ViewBag.Title = "Delete";
}


<h2>حذف رکورد</h2>

<h3>آیا برای حذف این رکورد اطمینان دارید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsGroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsGroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>


        <dd>
            <img src="/images/news-group/@Model.ImageName" class="img120x120" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف رکورد" class="btn btn-danger" /> |
            @Html.ActionLink("برگشت به لیست", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
